<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/bootstrap.css" rel="stylesheet"/>
    <link href="/custom.css" rel="stylesheet"/>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')" th:href="@{/userdetails}">Game Club</a>
                <a class="navbar-brand" sec:authorize="hasRole('ROLE_SUPERUSER')" th:href="@{/gameslist}">Game Club</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
                <a class="nav-link" th:href="@{/userdetails}">Home</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_SUPERUSER')">
                <a class="nav-link" th:href="@{/gameslist}">Home</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
                <a class="nav-link" th:href="@{/memberships}">Groups</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
                <a class="nav-link" th:href="@{/gameslist}">Games</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_GROUPADMIN')">
                <a class="nav-link" th:href="@{/mygroup}">My Group</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_SUPERUSER')">
                <a class="nav-link" th:href="@{/addgameform}">Add Game</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" th:align="right" >
                <a class="nav-link" th:href="@{/login}">Logout</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container" style="margin-top: 50px">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>Events</h3>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Event Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Description</th>
                    <th scope="col">Participants</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${events.isEmpty()}">
                    <td>No event</td>
                </tr>
                <tr th:each="event : ${events}">
                    <td th:text="${event.getDate()}"></td>
                    <td th:text="${event.getPlace()}"></td>
                    <td th:text="${event.getDescription()}"></td>
                    <td>
                        <p class="list-group-item" th:if="${event.getParticipants().isEmpty()}">No participants</p>
                        <ul class="list-group list-group-flush" th:each="player : ${event.getParticipants()}">
                            <li class="list-group-item" th:text="${player.getName()}"></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 50px">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>Add Event</h3>
        </div>
        <div class="card-body bg-light">
            <form  action="#" th:action="@{/addevent}" method="post" th:object="${event}">
                <div class="form-group">
                    <label for="date" class="col-sm-2 col-form-label">Event Date</label>
                    <input type="datetime-local" class="form-control" id="date" th:field="*{date}">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" th:field="*{place}" >
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" th:field="*{description}" ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
