<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/bootstrap.css" rel="stylesheet"/>
    <link href="/custom.css" rel="stylesheet"/>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')" th:href="@{/userdetails}">Game Club</a>
                <a class="navbar-brand" sec:authorize="hasRole('ROLE_SUPERUSER')" th:href="@{/gameslist}">Game Club</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
                <a class="nav-link" th:href="@{/userdetails}">Home</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_SUPERUSER')">
                <a class="nav-link" th:href="@{/gameslist}">Home</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
                <a class="nav-link" th:href="@{/memberships}">Groups</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
                <a class="nav-link" th:href="@{/gameslist}">Games</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_GROUPADMIN')">
                <a class="nav-link" th:href="@{/mygroup}">My Group</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_SUPERUSER')">
                <a class="nav-link" th:href="@{/addgameform}">Add Game</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" th:align="right" >
                <a class="nav-link" th:href="@{/login}">Logout</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container" style="margin-top: 50px">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>My group membership</h3>
        </div>
        <div class="card-body bg-light">
            <dl th:if="${memberships.empty}">
                <dt> No Memberships </dt>
            </dl>

            <p class="row" th:each="group : ${memberships}">
                <a class="col-sm-10" th:text="${group.name}" th:href="@{/groupdetails/{id}(id=${group.getId()})}"></a>
            </p>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 50px" >
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>Other groups</h3>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Admin name</th>
                    <th scope="col">No of members</th>
                    <th scope="col">Join</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${others.isEmpty()}">
                    <td colspan="6"> No Other Groups </td>
                </tr>
                <tr th:each="group : ${others}">
                    <td th:text="${group.getName()}"></td>
                    <td th:text="${group.getAdminname()}"></td>
                    <td th:text="${group.getNomembers()}"></td>
                    <td th:if="${group.isJoinable()}">
                        <a th:href="@{/joinrequest/{id}(id=${group.getId()})}">
                            <button type="button" class="btn btn-outline-primary btn-sm">Request to join</button>
                        </a>
                    </td>
                    <td th:if="${!group.isJoinable()}">Membership requested</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>