<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="/bootstrap.css" rel="stylesheet"/>
  <link href="/custom.css" rel="stylesheet"/>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')" th:href="@{/userdetails}">Game Club</a>
        <a class="navbar-brand" sec:authorize="hasRole('ROLE_SUPERUSER')" th:href="@{/gameslist}">Game Club</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
        <a class="nav-link" th:href="@{/userdetails}">Home</a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_SUPERUSER')">
        <a class="nav-link" th:href="@{/gameslist}">Home</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
        <a class="nav-link" th:href="@{/memberships}">Groups</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
        <a class="nav-link" th:href="@{/gameslist}">Games</a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_GROUPADMIN')">
        <a class="nav-link" th:href="@{/mygroup}">My Group</a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_SUPERUSER')">
        <a class="nav-link" th:href="@{/addgameform}">Add Game</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()" th:align="right" >
        <a class="nav-link" th:href="@{/login}">Logout</a>
      </li>
    </ul>
  </nav>
</div>
<div class="container" style="margin-top: 50px">
  <div class="card border border-info border-3">
    <div class="card-header bg-info">
      <h3>Group details</h3>
    </div>
    <div class="card-body bg-light">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9" th:text="${group.getName()}"></dd>

        <dt class="col-sm-3">Admin name</dt>
        <dd class="col-sm-9" th:text="${group.getAdminname()}"></dd>
      </dl>

      <h6>Members</h6>
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${group.getMembers().isEmpty()}">
          <td colspan="2">No Members</td>
        </tr>
        <tr th:each="member : ${group.getMembers()}">
          <td th:text="${member.getName()}"></td>
          <td th:text="${member.getEmail()}"></td>
        </tr>
        </tbody>
      </table>

      <h6>Events</h6>
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th scope="col">Event Date</th>
          <th scope="col">Location</th>
          <th scope="col">Attend</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${group.getEvents().isEmpty()}">
          <td colspan="3">No Events</td>
        </tr>
        <tr th:each="event : ${group.getEvents()}">
          <td th:text="${event.getDate()}"></td>
          <td th:text="${event.getPlace()}"></td>
          <td class="text-center">
            <a th:href="@{/attend/{id}(id=${event.getId()})}" th:if="${event.isAttend()}">
              <button type="button" class="btn btn-outline-primary btn-sm">Attend</button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
