<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="/bootstrap.css" rel="stylesheet"/>
  <link href="/custom.css" rel="stylesheet"/>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')" th:href="@{/userdetails}">Game Club</a>
        <a class="navbar-brand" sec:authorize="hasRole('ROLE_SUPERUSER')" th:href="@{/gameslist}">Game Club</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
        <a class="nav-link" th:href="@{/userdetails}">Home</a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_SUPERUSER')">
        <a class="nav-link" th:href="@{/gameslist}">Home</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
        <a class="nav-link" th:href="@{/memberships}">Groups</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyRole('ROLE_PLAYER','ROLE_GROUPADMIN')">
        <a class="nav-link" th:href="@{/gameslist}">Games</a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_GROUPADMIN')">
        <a class="nav-link" th:href="@{/mygroup}">My Group</a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_SUPERUSER')">
        <a class="nav-link" th:href="@{/addgameform}">Add Game</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()" th:align="right" >
        <a class="nav-link" th:href="@{/login}">Logout</a>
      </li>
    </ul>
  </nav>
</div>
<div class="container" style="margin-top: 50px">
  <div class="card border border-info border-3">
    <div class="card-header bg-info">
      <h3>User details</h3>
    </div>

    <div class="card-body bg-light">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9" th:text="${user.getName()}"></dd>
        <dt class="col-sm-3">Login name</dt>
        <dd class="col-sm-9" th:text="${user.getLoginName()}"></dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9" th:text="${user.getEmail()}"></dd>
      </dl>
    </div>
  </div>
</div>
</body>
</html>
